version: "3.9"

services:
  webapp:
    build: .
    container_name: myapp
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=5000
    ports:
      - "5000:5000"
    networks:
      - webnet

networks:
  webnet:
